<section class="section-card-list-songs-selected">
    <div 
    class="container-section"
    [ngStyle]="this.stateMusic.stateSectionPlayListService.toogleAddSong() ? {'overflow-y': 'hidden', 'height': '100dvh'} : {}" >
        <div class="container-header">
            <div (click)="this.stateMusic.stateMyListSongsService.activateSection.set(false)" class="container-svg-close">
                <app-svg-close width="2rem" height="2rem" color="var(--primary-color)" />
            </div>
            <img [src]="this.stateMusic.stateMyListSongsService.listSongsSelected().image" [alt]="this.stateMusic.stateMyListSongsService.listSongsSelected().name">
            <div class="container-information">
                <h2>{{this.stateMusic.stateMyListSongsService.listSongsSelected().name}}</h2>
                <p>{{this.stateMusic.stateMyListSongsService.listSongsSelected().description}}</p>
                <div class="container-elements">
                    <div class="container-item-element">
                        <div class="container-img-item">
                            <app-svg-note width="100%" height="100%" color="var(--color-gray-secondary)" />
                        </div>
                        <p>{{this.stateMusic.stateMyListSongsService.listSongsSelected().listSongs.length}} canciones</p>
                    </div>
                    <div class="container-item-element">
                        <div class="container-img-item">
                            <app-svg-clock width="100%" height="100%" color="var(--color-gray-secondary)" />
                        </div>
                        <p>{{this.stateMusic.stateMyListSongsService.listSongsSelected().durationList}}</p>
                    </div>
                    <div
                     (click)="this.stateMusic.stateSectionPlayListService.toogleAddSong.set(true)"
                     class="container-item-element">
                        <div class="container-img-item">
                            <app-svg-add-song-list width="100%" height="100%" color="var(--primary-color)" />
                        </div>
                        <p>Agregar</p>
                    </div>
                </div>
            </div>
            <div class="container-img-play">
                @if(this.stateMusic.stateMusicPlayerService.autoPlaySongState()) {
                    <app-svg-stop (click)="this.stateMusic.stateMusicPlayerService.stopAudio()" width="1.2rem" height="1.2rem" color="white" />
                } @else {
                    <app-svg-play (click)="this.stateMusic.stateMusicPlayerService.playAudio()" width="1.2rem" height="1.2rem" color="white" />    
                }
            </div>
        </div>
        <div class="container-body">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>Artista</th>
                        <th>Album</th>
                        <th>Favorita</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of this.stateMusic.stateMyListSongsService.listSongsSelected().listSongs; track $index) {
                        <tr (click)="this.getSongsPlay(item)" appTraslateVerticalDeleted [appTraslateVerticalDeletedActivate]="this.activationAnimation === item.id">
                            <td>
                                @if(this.stateMusic.stateMusicPlayerService.autoPlaySongState() && this.stateMusic.stateMusicPlayerService.selectedSong().id === item.id) {
                                    <app-svg-stop width="1.2rem" height="1.2rem" color="var(--color-gray-white)" />
                                } @else {
                                    <app-svg-play width="1rem" height="1rem" color="var(--color-gray-white)" />
                                }
                            </td>
                            <td>
                                <img [src]="item.image" [alt]="item.name">
                                {{item.name}}
                            </td>
                            <td>{{item.artist}}</td>
                            <td>{{item.album}}</td>
                            <td>
                                <app-svg-heart (click)="this.stateMusic.stateMusicPlayerService.changeFavoriteSonSelected(item)" width="1rem" height="1rem" [isFavorite]="item.isFavorite" />
                            </td>
                            <td>
                                <app-svg-trash (click)="this.deleteSong(item, this.stateMusic.stateMyListSongsService.listSongsSelected().id)" width="1.2rem" height="1.2rem" color="var(--primary-color)" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if (this.stateMusic.stateSectionPlayListService.toogleAddSong()) {
        @defer (on immediate) {
            <app-add-song-to-list />
        } @placeholder {
            <p>cargando...</p>
        }
    }
</section>
