<section class="section-artists">
    <img src="images/music/metallica.jpg" alt="imagen del artista">
    <div class="container-information">
        <div class="container-title">
            <div class="container-svg">
                <app-svg-start width="2rem" height="2rem" color="yellow" />
            </div>
            <h3>ARTISTA DESTACADO</h3>
        </div>
        <h2>METALLICA</h2>
        <p>Metal - Nothing else matters - 23.5M oyentes</p>
        <app-button-generic buttonText="reproducir" width="fit-content" height="2.5rem" typeButton="button" />
    </div>
</section>