<section class="section-artists">
    <img [src]="this.selectedArtist.image" [alt]="this.selectedArtist.name">
    <div class="container-information">
        <div class="container-title">
            <div class="container-svg">
                <app-svg-start width="2rem" height="2rem" color="yellow" />
            </div>
            <h3>ARTISTA DESTACADO</h3>
        </div>
        <h2>{{this.selectedArtist.name}}</h2>
        <p>{{this.selectedArtist.gender}} - {{this.selectedArtist.song}} - {{this.selectedArtist.numberPerson | numberAbbrev}} oyentes</p>
        <app-button-generic buttonText="reproducir" width="fit-content" height="2.5rem" typeButton="button" />
    </div>
</section>