:host-context {
    display: contents;
}

.section-artists {
    width: 100%;
    height: 100%;
    grid-area: section-artists;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 1rem;
    gap: 0.5rem;
    transform: scale(1);
    transition: transform 0.2s ease;
    position: relative;
}

.section-artists:hover {
    transform: scale(1.02);
}

.section-artists > img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    z-index: 2;
}

.section-artists > .container-information {
    z-index: 3;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 0 1rem;
    transition: background-color 0.2s ease, backdrop-filter 0.2s ease;
}

.section-artists:hover > .container-information {
    background-color: var(--bg-transparent-black);
    backdrop-filter: var(--blur-bg);
}

.section-artists > .container-information > .container-title {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.section-artists > .container-information > .container-title > h3 {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: var(--font-secondary);
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.section-artists > .container-information > p {
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    color: var(--color-gray-white);
}