<section class="section-main-music">
    <div class="container-filter-search">
        <div class="container-filters-button" #filterContainer>
            @for (category of listCategories; track $index) {
                <app-button-filter-generic [buttonText]="category.name" (actionClick)="this.filterSongs($event)" />
            }
        </div>
        <app-input-search-generic placeholder="Buscar canciones, artistas.." (onChangeInputData)="this.onChangeInputData($event)" />
    </div>
    <div class="container-list-songs">
        @for (song of listdataMusic; track $index) {
            <div class="container-item-song">
                <div class="container-img-song">
                    <img src="{{song.image}}" alt="{{song.name}}">
                </div>
                <div class="container-information-song">
                    <h2>{{song.name}}</h2>
                    <p>{{song.artist}}</p>
                    <p>{{song.gender}}</p>
                </div>
            </div>
        }
    </div>
</section>