<div class="container-options">
    <div (click)="shareSong()" class="container-item">
        <i class="fa-solid fa-share"></i>
        <p>Compartir</p>
    </div>
    <div (click)="addToFavorites()" class="container-item">
        <i class="fa-solid fa-heart"></i>
        <p>Agregar a favoritos</p>
    </div>
    <div (click)="addToPlaylist()" class="container-item">
        <i class="fa-solid fa-list"></i>
        <p>Agregar a una lista</p>
    </div>
    <div (click)="deleteSong()" class="container-item">
        <i class="fa-solid fa-trash"></i>
        <p>Eliminar</p>
    </div>
</div>
