:host-context {
    display: contents;
}

.section-scroll-chapters-series {
    width: 100%;
    height: 40%;
}

.section-scroll-chapters-series .container-scroll-chapters {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 3.1rem;;
    padding-left: 0.5rem;
    position: relative;
}

.section-scroll-chapters-series .container-scroll-chapters .item-chapter {
    flex-shrink: 0;
    width: 13rem;
    height: 13rem;
    scroll-snap-align: start;
    cursor: pointer;
    box-shadow: 0 0 0.5rem transparent;
    transition: box-shadow 0.3s ease-in-out;
}

.section-scroll-chapters-series .container-scroll-chapters .item-chapter:hover {
    box-shadow: 0 0 0.5rem var(--primary-color);
}

.section-scroll-chapters-series .container-scroll-chapters .item-chapter.chapter-selected {
    box-shadow: 0 0 0.5rem var(--primary-color);
}

.section-scroll-chapters-series .container-scroll-chapters .item-chapter > img {
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

.section-scroll-chapters-series .container-controls-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

@media screen and (width <= 768px) {

    .section-scroll-chapters-series {
        width: 100%;
        height: 40%;
    }

    .section-scroll-chapters-series .container-scroll-chapters {
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        padding-left: 1rem;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-padding-inline: 50%;
    }

    .section-scroll-chapters-series .container-scroll-chapters .item-chapter {
        flex-shrink: 0;
        width: 10rem;
        height: 10rem;
        scroll-snap-align: start;
        cursor: pointer;
        box-shadow: 0 0 0.5rem transparent;
        transition: box-shadow 0.3s ease-in-out;
    }

    .section-scroll-chapters-series .container-controls-scroll {
        display: none;
    }
}