.nav-bar-main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: var(--nav-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0 1rem;
    transition: background-color 0.3s ease-out backdrop-filter 0.3s ease-out;
}

.nav-bar-main .container-logo {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-bar-main .container-logo > img {
    object-fit: cover;
    border-radius: 100%;
}

.nav-bar-main .container-enlaces {
    width: calc(100% - 20% - 10%);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar-main .container-enlaces > a {
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid transparent;
}

.nav-bar-main .container-enlaces > a:hover,
.nav-bar-main .container-enlaces > a.active-link {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.nav-bar-main .container-perfil {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.nav-bar-main .container-perfil .container-information-perfil {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0.2rem;
}

.nav-bar-main .container-perfil .container-information-perfil > p:nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white-color);
}

.nav-bar-main .container-perfil .container-information-perfil > p:nth-child(2) {
    font-size: 0.9rem;
    color: var(--primary-color);
}

.nav-bar-main .container-perfil .container-img-perfil {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-bar-main .container-perfil .container-img-perfil > img {
    object-fit: cover;
    border-radius: 100%;
}

.close-menu {
    display: none;
}

@media screen and (width <= 768px) {
    .nav-bar-main {
        width: 100vw;
        min-height: 100svh;
        max-height: 100lvh;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        padding: 0;
        padding-top: 1rem;
        background-color: var(--bg-transparent-black);
        backdrop-filter: var(--blur-bg);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .nav-bar-main .container-logo {
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
    }

    .nav-bar-main .container-logo > img {
        object-fit: cover;
        border-radius: 100%;
    }

    .nav-bar-main .container-enlaces {
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .nav-bar-main .container-enlaces > a {
        border: none;
        background-color: transparent;
        width: 100%;
        height:30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }
    
    .nav-bar-main .container-enlaces > a:hover,
    .nav-bar-main .container-enlaces > a.active-link {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: none;
    }

    .nav-bar-main .container-perfil {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        padding: 0 1rem;
        gap: 1rem;
    }

    .nav-bar-main .container-perfil .container-information-perfil {
        width: calc(100% - 5rem);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.2rem;
    }

    .close-menu {
        position: absolute;
        top: 3%;
        left: 2%;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border-radius: 100%;
        cursor: pointer;
    }

    .close-menu:hover {
        background-color: var(--secondary-color);
    }
    
}
