<nav class="nav-bar-main" appTraslate [appTraslateActive]="this.stateNavBarMainService.activateMenu()">
    <i (click)="this.stateNavBarMainService.switchMenu(false)" class="fa-solid fa-x close-menu"></i>
    <div class="container-logo">
        <img src="images/logo2.png" alt="logo">
    </div>
    <div class="container-enlaces">
        <a routerLink="/peliculas" routerLinkActive="active-link">Películas</a>
        <a routerLink="/series" routerLinkActive="active-link">Series</a>
        <a routerLink="/music" routerLinkActive="active-link">Música</a>
        <a routerLink="/comunity" routerLinkActive="active-link">Comunidad</a>
    </div>
    <div class="container-perfil">
        <div class="container-information-perfil">
            <p>Juan</p>
            <p>Premium</p>
        </div>
        <div class="container-img-perfil">
            <img src="images/bg-music.png" alt="perfil">
        </div>
    </div>
</nav>
