<div class="container-item" [ngClass]="{'container-item-selected' : this.inputSongSelected().isPlaying}">
    @if (this.inputSongSelected().isPlaying) {
        <i appWobble class="fa-solid fa-music"></i>
    } @else {
        <i (click)="playSong()" class="fa-solid fa-play"></i>
    }
    <div class="container-info">
        <div class="container-img-item">
            <img src="{{this.inputSongSelected().image}}" alt="{{this.inputSongSelected().name}}">
        </div>
        <div class="container-names">
            <p>{{this.inputSongSelected().name}}</p>
            <p>{{this.inputSongSelected().artist}}</p>
        </div>
    </div>
    <p>13:45</p>
    <i class="fa-solid fa-ellipsis" (click)="toogleCardOptions()"></i>
    @if (this.showCardOptions) {
        <app-card-options />
    }
</div>
