:host-context {
    display: contents;
}

.input-search {
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    border: 1px solid var(--color-gray-secondary);
    background-color: var(--color-gray-primary);
    padding: 0 0.7rem;
    color: var(--white-color);
    transition: border 0.3s ease-out;
}

.input-search::placeholder {
    color: var(--color-gray-secondary);
}

.input-search:focus {
    border: 1px solid var(--primary-color);
}
