<section class="container-list-music-player">
    <div class="container-list-songs">
        @for (song of this.songs; track $index) {
            <div class="container-item" [ngClass]="{'container-item-selected' : song == this.songSelected}">
                <i class="fa-solid fa-play"></i>
                <div class="container-info">
                <div class="container-img-item">
                    <img src="{{song.image}}" alt="{{song.name}}">
                </div>
                <div class="container-names">
                    <p>{{song.name}}</p>
                    <p>{{song.artist}}</p>
                </div>
            </div>
            <p>13:45</p>
            <i class="fa-solid fa-ellipsis"></i>
        </div>
    }
    </div>
    <div class="container-filters-songs">
        <button [ngClass]="{'button-selected' : true}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Todas</span>
            <i class="fa-solid fa-music"></i>
        </button>
        <button [ngClass]="{'button-selected' : false}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Favoritas</span>
            <i class="fa-solid fa-heart"></i>
        </button>
        <button [ngClass]="{'button-selected' : false}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Recientes</span>
            <i class="fa-solid fa-clock"></i>
        </button>
        <button [ngClass]="{'button-selected' : false}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Albumes</span>
            <i class="fa-solid fa-music"></i>
        </button>
    </div>
</section>
