<section class="container-list-music-player">
    <div class="container-list-songs">
        @for (song of this.songs; track $index) {
            <app-container-song-item [inputSong]="song" [ngClass]="{'container-item-selected' : this.songSelected === song}" />
        }
    </div>
    <div class="container-filters-songs">
        <button [ngClass]="{'button-selected' : true}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Todas</span>
            <i class="fa-solid fa-music"></i>
        </button>
        <button [ngClass]="{'button-selected' : false}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Favoritas</span>
            <i class="fa-solid fa-heart"></i>
        </button>
        <button [ngClass]="{'button-selected' : false}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Recientes</span>
            <i class="fa-solid fa-clock"></i>
        </button>
        <button [ngClass]="{'button-selected' : false}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>Albumes</span>
            <i class="fa-solid fa-music"></i>
        </button>
    </div>
</section>
