<section class="section-gender-series">
    <div class="container-search-series">
        <div class="container-search">
            <app-input-icon-search
            widthInput="100%" 
            heightInput="100%" 
            bgColor="var(--bg-transparent-black)"
            placeholder="Buscar series..."
            colorBorder="transparent"
            colorFocus="var(--color-gray-white)"
            colorText="var(--color-gray-white)"
            colorIcon="var(--color-gray-white)"
            colorIconHover="var(--white-color)"
            (onChangeInputData)="this.stateSectionGenderSeriesService.getSelectedByGenderAndSearch($event)"
            />
        </div>
         <div class="container-selected">
            <app-select-options 
            inputSelectedOption="{{this.stateSectionGenderSeriesService.genderGlobal()}}"
            inputBorder="1px solid transparent"
            inputBorderFocus="1px solid var(--color-gray-white)"
            inputColor="var(--color-gray-white)"
            inputWidth="100%"
            inputHeight="2.5rem"
            inputBgColor="var(--bg-transparent-black)"
            [inputListOptions]="this.listGender"
            (ouputOptionSelected)="this.stateSectionGenderSeriesService.changeGenderGloabal($event)"
             />
         </div>
    </div>
    <div class="container-list-series">
        @for (series of this.seriesListData(); track $index) {
            <div [routerLink]="['/series/serie', series.id]" class="series-item">
                <div class="container-img">
                    <img [src]="series.image" [alt]="series.name">
                </div>
                <h3>{{ series.name }}</h3>
            </div>
        }
    </div>
</section>