<section class="section-news">
    <div class="header-news">
        <div class="container-img">
            <app-svg-tendency width="2rem" height="2rem" color="#10b981" />
        </div>
        <h2>Tendencias</h2>
    </div>
    <div class="container-items">
        <div class="item">
            <div class="container-img-item bg-neon-1">
                <app-svg-note width="100%" height="100%" color="white" />
            </div>
            <div>
                <h3>{{this.selectedSong().artist}}</h3>
                <p>{{this.selectedSong().name}}</p>
            </div>
        </div>
        <div class="item">
            <div class="container-img-item bg-neon-2">
                <app-svg-head-phones width="100%" height="100%" color="white" />
            </div>
            <div>
                <h3>{{this.selectedSong().name}}</h3>
                <p>{{this.selectedSong().artist}}</p>
            </div>
        </div>
    </div>
</section>
