:host-context {
    display: contents;
}

.main-music {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color-music);
    backdrop-filter: var(--blur-bg);
    position: relative;
}