<section class="main-music">
    <div class="navbar-music">
        <h2>Musica</h2>
        <app-button-generic buttonText="Crear lista" [actionClick]="this.addList"/>
    </div>
    <div class="container-filter-type">
        <div class="container-item-filter">
            <i class="fa-solid fa-music"></i>
            <div class="container-information-filter">
                <h3>Canciones</h3>
                <p>35</p>
            </div>
        </div>
        <div class="container-item-filter">
            <i class="fa-solid fa-user"></i>
            <div class="container-information-filter">
                <h3>Artistas</h3>
                <p>15</p>
            </div>
        </div>
        <div class="container-item-filter">
            <i class="fa-solid fa-list"></i>
            <div class="container-information-filter">
                <h3>Albumnes</h3>
                <p>5</p>
            </div>
        </div>
    </div>
    <app-section-main-music />
</section>