:host-context {
    display: contents;
}

.button-generic {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.7rem;
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-generic:hover {
    background-color: rgba(137, 0, 250, 0.541);;
}
