:host-context {
    display: contents;
}

.container-series {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container-scroll-series {  
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.3rem;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
    padding: 0.5rem;
}

.container-scroll-series .container-serie {
    width: 12rem;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0.5rem;
    transition: width 0.2s ease-in-out;
    position: relative;
}

.container-scroll-series .container-serie:hover {
    width: 20rem;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0.5rem;
}

.container-scroll-series .container-serie > img,
.container-scroll-series > .series-selected-1  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.container-scroll-series .container-serie .container-information {
    padding: 1rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: var(--bg-transparent-black);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container-scroll-series .container-serie:hover .container-information {
    opacity: 1;
}

.container-scroll-series .container-serie .container-information > h2,
.container-scroll-series > .series-selected-1 > .series-selected-2 > h2 {
    font-size: 0.9rem;
    width: 100%;
    height: auto;
    font-size: clamp(0.8rem, 0.9rem, 1rem);
    font-weight: normal;
    font-family: var(--font-secondary);
    background: var(--linear-gradient-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: -webkit-box;           
    -webkit-line-clamp: 2;         
    -webkit-box-orient: vertical;      
    overflow: hidden;                
    text-overflow: ellipsis; 
}

.container-scroll-series .container-serie .container-information > .container-svg,
.container-scroll-series > .series-selected-1 > .series-selected-2 > .container-svg {
    background-color: var(--white-color);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    cursor: pointer;
}

.container-scroll-series .series-selected-1 {
    width: 20rem;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0.5rem;
    position: relative;
}

.container-scroll-series > .series-selected-1 > .series-selected-2 {
    padding: 1rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: var(--bg-transparent-black);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.container-item-series-empty {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 1.5rem, 2rem);;
}

.container-controls {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}