:host-context {
    display: contents;
}

.main-series {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding-bottom: 4.5rem;
    position: relative;
}

.container-img-main-series {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    z-index: -1;
}

.bg-series {
    object-fit: cover;
    object-position: center;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, #00000000 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
}

@media screen and (width <= 768px) {
    .main-series {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        background-color: var(--bg-color-web);
    }
}