@if (this.routerUtilService.getRouterActuality().includes('/series/gender/') || this.routerUtilService.getRouterActuality().includes('/series/serie/')) {
    <router-outlet />
} @else {
    <section class="main-series">
        <div class="container-img-main-series">
            <img [ngSrc]="this.selectedSerie().image" fill [alt]="this.selectedSerie().name" class="bg-series">
        </div>
        <app-container-information-series/>
        @for (gender of this.gendersWithSeries(); track $index) {
            <app-container-scroll-series [gender]="gender" />
        }
    </section>
}