:host-context {
    display: contents;
}

.section-add-song-to-list {
    background-color: var(--bg-transparent-black);
    backdrop-filter: var(--blur-bg-max);
    width: 100%;
    min-height: 100dvh;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    padding: 2rem;
}

.btn-close {
    position: absolute;
    top: 5%;
    right: 3%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.section-add-song-to-list .container-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.section-add-song-to-list .container-section .container-input {
    width: 70%;
    height: 10%;
}

.section-add-song-to-list .container-section .container-lists {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    padding-bottom: 3rem;
    overflow-y: auto;
}

.section-add-song-to-list .container-section .container-lists .container-item-list {
    background: var(--bg-page);
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.section-add-song-to-list .container-section .container-lists .container-item-list .container-img-item-list {
    width: 8%;
    min-width: 4.5rem;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.section-add-song-to-list .container-section .container-lists .container-item-list .container-img-item-list > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-add-song-to-list .container-section .container-lists .container-item-list .container-information-item-list {
    width: calc(100% - 8% - 10%);
    height: 100%;
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: var(--color-gray-secondary);
}

.section-add-song-to-list .container-section .container-lists .container-item-list .container-information-item-list > h2 {
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    font-family: var(--font-secondary);
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.section-add-song-to-list .container-section .container-lists .container-item-list .container-svg-item-list {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray-white);
    text-align: center;
    cursor: pointer;
    transition: color 0.1s ease-out;
}

.section-add-song-to-list .container-section .container-lists .container-item-list .container-svg-item-list:hover {
    color: var(--primary-color);
}

@media screen and (width <= 768px) {
    .section-add-song-to-list {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .section-add-song-to-list .container-section {
        padding: 1rem 0;
    }

    .btn-close {
        position: absolute;
        top: 1%;
        right: 2%;
    }

    .section-add-song-to-list .container-section .container-input {
        width: 75%;
        height: 8%;
    }

    .section-add-song-to-list .container-section {
        height: 100%;
        gap: 0.5rem;
    }

    .section-add-song-to-list .container-section .container-lists {
        height: 100%;
        gap: 1rem;
    }

    .section-add-song-to-list .container-section .container-lists .container-item-list {
        background: var(--bg-page);
        width: 100%;
        height: 5.5rem;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 1rem;
    }

}