<section class="section-add-song-to-list">
    <div class="container-section">
        <div class="btn-close" (click)="this.stateMusicService.stateSectionPlayListService.toogleAddSong.set(false)">
            <app-svg-close width="100%" height="100%" color="var(--primary-color)" />
        </div>
        <div class="container-input">
            <app-input-icon-search 
            placeholder="Buscar canciones..." 
            widthInput="100%" 
            heightInput="100%" 
            (onChangeInputData)="this.onChangeInput($event)"
            />
        </div>
        <div class="container-lists">
            @for (song of this.stateMusicService.stateSectionAddSongToListService.listAllSongsFiltered(); track $index) {
                <div appScrollReveal class="container-item-list">
                    <div class="container-img-item-list">
                        <img [ngSrc]="song.image" fill [alt]="song.name">
                    </div>
                    <div class="container-information-item-list">
                        <h2>{{song.name}}</h2>
                        <p>{{song.artist}} - {{song.gender}}</p>
                        <p>{{song.year}}</p>
                    </div>
                    <div class="container-svg-item-list">
                        @if (this.stateMusicService.stateSectionAddSongToListService.isSongSelected(song)) {
                            <app-svg-check 
                            (click)="this.stateMusicService.stateSectionAddSongToListService.deleteSongSelected(song)"
                            width="2rem" height="2rem" color="var(--primary-color)" />
                        } @else {
                            <app-svg-add-song-list
                            (click)="this.stateMusicService.stateSectionAddSongToListService.addSongToList(song)"
                            width="2rem" height="2rem" />
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>