:host-context {
    display: contents;
}

.container-select {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    border-radius: 0.5rem;
    transition: border 0.3s ease;
}

.container-select .selected {
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    background-color: transparent;
    text-transform: uppercase;
}

.container-select .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    border-radius: 0.5rem;
    backdrop-filter: var(--blur-bg-max);
    animation: animation-open 0.3s ease forwards;
}

.container-select .options .option {
    flex-shrink: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-select .options .option:hover {
    background-color: var(--color-gray-white);
}

@keyframes animation-open {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}