<section class="section-new-music">
    <img [ngSrc]="this.selectedSong.image" fill [alt]="this.selectedSong.name">
    <div>
        <p>Nuevo</p>
    </div>
    <div class="container-information">
        <h2>{{this.selectedSong.name}}</h2>
        <p>{{this.selectedSong.artist}}</p>
        <p>{{this.selectedSong.year}}</p>
        <div>
            <button (click)="onClickPlay()" type="button">
                <app-svg-play width="20%" height="20%" color="black" />
                <p>Play</p>
            </button>
            <app-svg-heart (click)="onClickFavorite()" width="5%" height="100%" [isFavorite]="this.selectedSong.isFavorite" />
        </div>
    </div>
</section>