<section class="section-new-music">
    <img src="images/music/play-hard.jpg" alt="imagen de la musica nueva">
    <div>
        <p>Nuevo</p>
    </div>
    <div class="container-information">
        <h2>Nombre de la cancion</h2>
        <p>Nombre del artista</p>
        <p>2025</p>
        <div>
            <button type="button">
                <app-svg-play width="20%" height="20%" color="black" />
                <p>Play</p>
            </button>
            <app-svg-heart width="5%" height="100%" />
        </div>
    </div>
    
</section>