/* import fonts */
:root {
    --font-family: "sans-serif";
    --max-width: 1280px;
    --blur-bg: blur(10px);
    --white-color: rgb(255, 255, 255);
    --primary-color-music: rgb(185, 37, 37);
    --bg-color-music: rgba(0, 0, 0, 0);
    --bg-color-music-white: rgba(255, 255, 255, 0.123);
}

/* Reset */
html {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 16px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    color: var(--white-color);
    background-image: url("../public/images/f3.webp");
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    backdrop-filter: var(--blur-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-music-white);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color-music);
}

::-webkit-scrollbar-button {
    display: none;
}

a { 
    color: var(--secondary-color);
    transition: all 0.5s ease-out;
    text-decoration: none;
}

img,svg,video {
    max-width: 100%;
    height: auto;
}