/* import fonts */
:root {
    --font-family: "sans-serif";
    --max-width: 1280px;
    --blur-bg: blur(10px);
    --nav-height: 5rem;
    --white-color: rgb(255, 255, 255);
    --white-color-opacity: rgba(255, 255, 255, 0.123);
    --primary-color: rgb(137, 0, 250);
    --secondary-color: rgba(65, 61, 68, 0.342);
    --bg-color-web: black;
    --bg-color-music: rgba(0, 0, 0, 0);
    --linear-gradient: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 100%);
    --bg-selected-menu-music: rgba(0, 0, 0, 0.185);
    --color-gray-300: rgb(222, 222, 222);
    --color-gray-400: rgb(180, 180, 180);
    --color-gray-500: rgb(140, 140, 140);
    --color-gray-700: rgb(95, 95, 95);   
    --color-gray-800: rgb(71, 71, 71);   
    --color-gray-900: rgb(53, 53, 53); 
}

/* Reset */
html {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 16px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: auto;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    color: var(--white-color);
    background-color: var(--bg-color-web);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    backdrop-filter: var(--blur-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-button {
    display: none;
}

a { 
    color: var(--secondary-color);
    transition: all 0.5s ease-out;
    text-decoration: none;
}

img,svg,video {
    max-width: 100%;
    height: auto;
}