<section class="section-play-list-songs">
    <section class="section-container">
        <div class="container-header">
            <h2>Mi listas de musica</h2>
            <app-button-generic buttonText="Nueva lista" width="fit-content" height="2.5rem" typeButton="button" />
        </div>
        <div class="container-body">
            @for (list of this.listsListSongs; track $index) {
                <div (click)="this.getListSongs(list)" class="container-item">
                    <div class="container-img">
                        <img [src]="list.image" [alt]="list.name">
                    </div>
                    <div class="container-information">
                        <h3>{{list.name}}</h3>
                        <p>{{list.description}}</p>
                        <div class="container-elements">
                            <div class="container-item-element">
                                <div class="container-img-item">
                                    <app-svg-note width="100%" height="100%" color="var(--color-gray-secondary)" />
                                </div>
                                <p>{{list.listSongs.length}} canciones</p>
                            </div>
                            <div class="container-item-element">
                                <div class="container-img-item">
                                    <app-svg-clock width="99%" height="99%" color="var(--color-gray-secondary)" />
                                </div>
                                <p>{{list.durationList}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-img-play">
                        <app-svg-play width="1.2rem" height="1.2rem" color="white" />
                    </div>
                </div>
            }
        </div>
    </section>
    @if (this.stateMusic.stateMyListSongsService.activateSection()) {
        <app-section-card-lists-song-selected/>
    }
</section>
