<div class="container-information-series">
    <div class="container-information">
        <div class="container-gender">
            <p>genero</p>
        </div>
        <h2>Nombre de la pelicula aquio</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maiores repudiandae saepe, doloremque harum ducimus ea assumenda quisquam excepturi debitis consectetur deserunt neque quis laudantium? Eveniet doloremque provident voluptas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maiores repudiandae saepe, doloremque harum ducimus ea assumenda quisquam excepturi debitis consectetur deserunt neque quis laudantium? Eveniet doloremque provident voluptas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maiores repudiandae saepe, doloremque harum ducimus ea assumenda quisquam excepturi debitis consectetur deserunt neque quis laudantium? Eveniet doloremque provident voluptas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maiores repudiandae saepe, doloremque harum ducimus ea assumenda quisquam excepturi debitis consectetur deserunt neque quis laudantium? Eveniet doloremque provident voluptas.
        </p>
        <button type="button">
            <app-svg-play width="13%" height="13%" />
            <p>Reproducir</p>
        </button>
    </div>
    <div class="container-search">
        <app-input-icon-search
         widthInput="100%" 
         heightInput="3rem" 
         bgColor="var(--bg-transparent-black)"
         placeholder="Buscar series..."
         colorBorder="transparent"
         colorFocus="var(--color-gray-white)"
         colorText="var(--color-gray-white)"
         colorIcon="var(--color-gray-white)"
         colorIconHover="var(--white-color)"
         />
        <div class="container-list-search">
            <div class="container-item">
                <div class="container-img-item">
                    <img src="images/series/Spider-Manlejosdecasa.webp" alt="imagen">
                </div>
                <div class="container-info-item">
                    <h2>Nombre de la serie que pasaria si este nombre de la serie es demasiado largo</h2>
                    <p>genero</p>
                </div>
            </div>
            <div class="container-item">
                <div class="container-img-item">
                    <img src="images/series/Spider-Manlejosdecasa.webp" alt="imagen">
                </div>
                <div class="container-info-item">
                    <h2>Nombre de la serie</h2>
                    <p>genero</p>
                </div>
            </div>
            <div class="container-item">
                <div class="container-img-item">
                    <img src="images/series/Spider-Manlejosdecasa.webp" alt="imagen">
                </div>
                <div class="container-info-item">
                    <h2>Nombre de la serie</h2>
                    <p>genero</p>
                </div>
            </div>
            <div class="container-item">
                <div class="container-img-item">
                    <img src="images/series/Spider-Manlejosdecasa.webp" alt="imagen">
                </div>
                <div class="container-info-item">
                    <h2>Nombre de la serie</h2>
                    <p>genero</p>
                </div>
            </div>
        </div>
    </div>
</div>
