:host-context {
    display: contents;
}

.container-information-series {
    width: 100%;
    height: 30rem;
    display: flex;
    padding-top: calc(var(--nav-height) + 0.5rem);
}

.container-information-series .container-information {
    width: 65%;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}


.container-information-series .container-information .container-gender {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.container-information-series .container-information .container-gender > p:hover {
    color: var(--primary-color);
}

.container-information-series .container-information .container-gender > p {
    background-color: var(--bg-transparent-black);
    backdrop-filter: var(--blur-bg);
    padding: 0.5rem;
    width: 7rem;
    height: 2.5rem;
    min-width: fit-content;
    text-align: center;
    border-radius: 1.5rem;
    color: var(--white-color);
    text-transform: uppercase;
}

.container-information-series .container-information > h2 {
    width: fit-content;
    max-width: 100%;
    height: 12%;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: bold;
    font-family: var(--font-secondary);
    background: var(--linear-gradient-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: -webkit-box;           
    -webkit-line-clamp: 2;         
    -webkit-box-orient: vertical;      
    overflow: hidden;                
    text-overflow: ellipsis; 
}

.container-information-series .container-information > p {
    width: 80%;
    height: 7.4rem;
    padding: 0.5rem;
    font-size: clamp(0.9rem, 1.3vw, 1rem);
    display: -webkit-box;           
    -webkit-line-clamp: 5;         
    -webkit-box-orient: vertical;      
    overflow: hidden;                
    text-overflow: ellipsis; 
    backdrop-filter: var(--blur-bg-max);
    border-radius: 0.5rem;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
}

.container-information-series .container-information > p:hover {
    background-color: var(--bg-transparent-black);
}


.container-information-series .container-information > button {
    width: 12rem;
    height: 3rem;
    outline: none;
    border: none;
    background-color: var(--bg-transparent-black);
    backdrop-filter: var(--blur-bg);
    padding: 1rem;
    text-align: center;
    border-radius: 1.5rem;
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    z-index: 3;
}

.container-information-series .container-information > button:hover {
    background-color: var(--primary-color-opacity);
}

.container-information-series .container-search {
    width: 35%;
    height: 100%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    z-index: 2;
}

.container-list-search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    overflow-y: auto;
    max-height: 100%;
}

.container-item {
    background-color: var(--bg-transparent-black);
    backdrop-filter: var(--blur-bg-max);
    flex-shrink: 0;
    width: 95%;
    height: 6.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    box-shadow: 0 0 0 1px transparent;
    transition: box-shadow 0.3s ease-out;
}

.container-item:hover {
    box-shadow: 0 0 5px 1px var(--color-gray-white);
}

.container-item .container-img-item {
    width: 50%;
    height: 100%;
    flex-shrink: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    position: relative;
}

.container-item .container-img-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-item .container-info-item {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.container-item .container-info-item > h2 {
    font-size: clamp(0.7rem, 1vw, 1rem);
    font-family: var(--font-secondary);
    color: var(--white-color);
    display: -webkit-box;           
    -webkit-line-clamp: 2;         
    -webkit-box-orient: vertical;      
    overflow: hidden;                
    text-overflow: ellipsis; 
}

.container-item .container-info-item > p {
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    font-weight: bold;
    color: var(--white-color);
}


@media screen and (width <= 768px) {
    .container-information-series {
        width: 100%;
        height: 30rem;
        display: flex;
        padding: 0;
        flex-direction: column;
        position: relative;
        padding: 0.5rem;
    }

    .container-information-series .container-information {
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
    }

    .container-information-series .container-search {
        width: 100%;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .container-list-search {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .container-list-search::-webkit-scrollbar {
        display: none;
    }
}