<div class="container-information-series">
    <div class="container-information">
        <div class="container-gender">
            <p>{{this.selectedSerie().gender}}</p>
        </div>
        <h2>{{this.selectedSerie().name}}</h2>
        <p>{{this.selectedSerie().description}}</p>
        <button type="button">
            <app-svg-play width="13%" height="13%" />
            <p>Reproducir</p>
        </button>
    </div>
    <div class="container-search">
        <app-input-icon-search
         widthInput="100%" 
         heightInput="3rem" 
         bgColor="var(--bg-transparent-black)"
         placeholder="Buscar series..."
         colorBorder="transparent"
         colorFocus="var(--color-gray-white)"
         colorText="var(--color-gray-white)"
         colorIcon="var(--color-gray-white)"
         colorIconHover="var(--white-color)"
         (onChangeInputData)="onChangeInputData($event)"
         />

         <div class="container-list-search">
            @for (serie of this.listSeriesSearchDataFiltered(); track $index) {
                <div class="container-item">
                    <div class="container-img-item">
                        <img [src]="serie.image" [alt]="serie.name">
                    </div>
                    <div class="container-info-item">
                        <h2>{{serie.name}}</h2>
                        <p>{{serie.gender}}</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
