<div class="container-information-series">
    <div class="container-information">
        <div class="container-gender">
            <p>genero</p>
        </div>
        <h2>Nombre de la pelicula aquio</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maiores repudiandae saepe, doloremque harum ducimus ea assumenda quisquam excepturi debitis consectetur deserunt neque quis laudantium? Eveniet doloremque provident voluptas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maiores repudiandae saepe, doloremque harum ducimus ea assumenda quisquam excepturi debitis consectetur deserunt neque quis laudantium? Eveniet doloremque provident voluptas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maiores repudiandae saepe, doloremque harum ducimus ea assumenda quisquam excepturi debitis consectetur deserunt neque quis laudantium? Eveniet doloremque provident voluptas.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ipsum maiores repudiandae saepe, doloremque harum ducimus ea assumenda quisquam excepturi debitis consectetur deserunt neque quis laudantium? Eveniet doloremque provident voluptas.
        </p>
        <button type="button">
            <app-svg-play width="13%" height="13%" />
            <p>Reproducir</p>
        </button>
    </div>
    <div class="container-search">
        buscador
    </div>
</div>
