:host-context {
    display: contents;
}

.container-bento {
    width: 100%;
    height: 50rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 1rem;
    gap: 0.5rem;
    grid-template-areas:
      "section-news section-news section-new-music section-new-music section-other section-other"
      "section-news section-news section-new-music section-new-music section-other section-other"
      "section-trends section-trends section-new-music section-new-music section-artists section-artists"
      "section-trends section-trends section-play-lists section-play-lists section-artists section-artists"
      "section-search section-search section-play-lists section-play-lists section-artists section-artists";
}

@media screen and (width <= 768px) {
  .container-bento {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(8rem, auto);
    grid-template-areas:
      "section-new-music section-new-music"
      "section-new-music section-new-music"
      "section-new-music section-new-music"
      "section-news section-news"
      "section-news section-news" 
      "section-trends section-trends"
      "section-trends section-trends"
      "section-play-lists section-play-lists"
      "section-play-lists section-play-lists"
      "section-other section-other"
      "section-other section-other"
      "section-artists section-artists"
      "section-artists section-artists"
      "section-artists section-artists"
      "section-search section-search";
  }
}
